/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
  background-color: black;
  margin: 20px;
  --green: #2afca6;
  --grey: #444444;
  font-family: 'Open Sans', sans-serif;
}

header {
  color: white;
  border: solid white 2px;
  padding: 30px;
  background-image: url(../img/title_background.png);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.625em;
  margin: 20px 0 20px;
}

.chapeau h2{
  margin: 10px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  margin: 8px;
}

header p{
  margin: 20px 0 20px;
}

.chapeau p{
  margin: 20px 10px;
}

p {
  margin: 14px 10px 10px 10px;
}

article header {
  color: var(--grey) ;
  padding: 0;
  background-image: none;
}

body {
  max-width: 320px;
  margin: auto;
}


article {
  background-color: white;
  padding: 20px 20px 23px 20px;
  margin-top: 20px;
}

img {
  max-width: 100%;
}

figure {
  margin: 16px 10px 32px 10px ;
  box-shadow: lightgray 0px 0px 10px 1px;
  font-size: 0.75em;
}

figcaption {
  padding: 6px 10px 5px 10px ;
}

.title-number {
  color: var(--green);
  font-style: italic;
  font-weight: 100;
}

.chapeau {
  background-color: var(--green);
  padding: 20px 20px 26px 20px;
  margin: 20px 0;
  color: var(--grey);
}

.button {
  color: white;
  background-color: var(--grey);
  padding: 5px 15px;
  text-decoration: none;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.date {
  font-weight: bold;
}

footer {
  color: white;
  border: solid var(--green) 3px;
  text-align: center;
  margin: 20px 0;
  font-size: 0.6em;
}

footer p {
  margin: 10px;
}
.author {
  color: var(--green);
}

.info-article {
  font-size: 0.75em;
  margin: 20px 15px 0px 8px;
}