/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
  background-color: black;
  margin: 30px;
}

header {
  color: white;
  border: solid white 3px;
  padding: 20px;
}

body {
  max-width: 320px;
  margin: auto;
}

footer {
  color: white;
  border: solid greenyellow 3px;
  text-align: center;
  margin: 20px 0;
}

article {
  background-color: white;
  padding: 20px;
}

div {
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  box-shadow: gray 0px 0px 20px 1px;
}

.chapeau {
  background-color: greenyellow;
  padding: 20px;
  margin: 20px 0;
}